<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Deveema</title>

    <environment include="Staging, Production">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="~/lib/owl-carousel/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/lib/owl-carousel/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </environment>

    <environment include="Development">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="~/lib/owl-carousel/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/lib/owl-carousel/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </environment>

    <!-- add css files from partial views -->
    @RenderSection("CssFiles", required: false)
</head>
<body>

    <!-- views -->
    @RenderBody()

    <environment include="Staging, Production">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/owl-carousel/js/owl.carousel.min.js"></script>
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/owl-carousel/js/owl.carousel.min.js"></script>
    </environment>

    <!-- add js files from partial views -->
    @RenderSection("JsFiles", required: false)
</body>
</html>
